
body{
    display: block;
    margin: 8px;
}

table{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    width: 20%;
    background-color: rgb(240, 248, 255);
}

td {
    border: 1px solid black;
    padding: 5px;
}

th{
    border: 1px solid black;
    background-color: rgb(168, 218, 213);
    padding: 5px;
}

tr:hover{
    background-color: rgb(168, 218, 213);
}